<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head> <!-- head :: head  not header-->
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="admin/fragments/header :: header"> </header>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blank page
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Danh sách phẩm</h3>
                        <div>
                            <a class="btn btn-success" th:href="@{/admin/product/add}">Thêm mới sản phẩm</a>
                        </div>
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody><tr>
                                <th style="width: 10px">Id</th>
                                <th>Product Name</th>
                                <th>Supplier Name</th>
                                <th>Product Price</th>
                                <th>Purchase Price</th>
                                <th>About</th>

                            </tr>



                            <tr th:each="productSupplier : ${productSupplier_list}">
                                <td th:text="${productSupplier.id}"></td>
                                <td th:text="${productSupplier.productResponse?.productName != null ? productSupplier.productResponse.productName : 'No Product'}"></td>
                                <td th:text="${productSupplier.productResponse?.price != null ? productSupplier.productResponse.price : 'No Product'}"></td>

                                <td th:text="${productSupplier.supplierResponse?.supplierName != null ? productSupplier.supplierResponse.supplierName : 'No Supplier'}"></td>
                                <td th:text="${productSupplier.purchasePrice != null ? productSupplier.purchasePrice : 'No Price'}"></td>
                                <td>
                                    <a th:href="@{/admin/productSupplier/edit/{id}(id=${productSupplier.id})}" class="btn btn-success">Edit</a>
                                    <a th:href="@{/admin/productSupplier/delete/{id}(id=${productSupplier.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa')" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="admin/fragments/footer :: footer"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="admin/fragments/script :: script"></div>
</body>
</html>
