<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head> <!-- head :: head  not header-->
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="admin/fragments/header :: header"> </header>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blank page
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Danh sách hóa đơn</h3>
                        <a class="btn btn-success" th:href="@{/admin/purchase/add}">Thêm mới hóa đơn</a>

                    </div>

                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width: 10px">Id</th>
                                <th>PurchaseInvoice Name</th>
                                <th>Supplier ID</th>
                                <th>Supplier Name</th>
                                <th>Import Date</th>
                                <th>Total Bill</th>
                                <th>Action</th>
                            </tr>



                            <tr th:each="purchase : ${list_purchase}" >
                                <td th:text="${purchase.id}" ></td>  <!-- Hiển thị purchase.id -->
                                <td>
                                    <a th:href="@{/admin/purchase-detail/index/{purchaseId}(purchaseId=${purchase.id}) }"
                                       th:text="${purchase.purchaseInvoiceName}"></a>
                                </td>
                                <td th:text="${purchase.supplier.id}"></td>
                                <td th:text="${purchase.supplier.supplierName}"></td>
                                <td th:text="${purchase.importDate}"></td>
                                
<!--                                <td th:text="${totalAmount}"></td>-->
                                <td>Tổng tiền</td>
                                <td>
                                    <a th:href="@{/admin/purchase/edit/{id}(id=${purchase.id}) }" class="btn btn-success">Edit</a>
                                    <a th:href="@{/admin/purchase/delete/{id}(id=${purchase.id}) }" onclick="return confirm('Bạn có chắc chắn muốn xóa')" class="btn btn-success">Delete</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="admin/fragments/footer :: footer"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="admin/fragments/script :: script"></div>
</body>
</html>
